<!DOCTYPE html>
<html ng-app="dinnerMovieApp">
  <head>
    <title>DinnerMovieApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section ng-controller="dinnerMovieCtrl">
      <%= yield %>
    </section>
  </body>
</html>
